*{
   padding:1px;
   margin:0;
   background-color: rgb(20, 80, 97);
   position: relative;
 }
.nav{

display: flex;
}
.nav1{
    color: rgb(232, 11, 195);
    font-size: 1.56rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav2{
    color: rgb(7, 207, 238);
    font-size: 1.56rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wrapper {
      padding-left:50vh;
      width: 220px;
      height: 220px;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
       margin-left: 50vh;
    }

    /* Rotating Border */
    .border {
      position: absolute;
      width: 97%;
      height: 100%;
      border-radius: 50%;
     background: conic-gradient(rgb(113, 86, 232),  rgb(236, 234, 234),  rgb(100, 179, 233), rgb(100, 179, 233), rgb(103, 119, 241), rgb(236, 234, 234), rgb(236, 234, 234),  rgb(103, 119, 241));
 
      animation: rotateBorder 3s linear infinite;
      z-index: 1;
      padding: 10px; /* gap for image */
      box-sizing: border-box;
    }

    /* Inner Photo (static) */
    .image-box {
      width: 180px;
      height: 210px;
      border-radius: 50%;
      overflow: hidden;
      background: white;
      position: relative;
      z-index: 2;
    }

    .image-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    /* Animation */
    @keyframes rotateBorder {
      from { transform: rotate(0deg); }
      to   { transform: rotate(360deg); }
    }
.intro{
    color: rgb(172, 177, 181);
    font-size: 1.2rem;
    font-family: cursive;
}
.midpart{
    display: inline;
    margin-top: 12.5rem;

}
.about{
    padding-top: 6.2rem;
}
#aboutheading{
    color: white;
    font-size: 1.5rem;
    
}
.aboutme{
    color:rgb(172, 177, 181);
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
   padding-left:2px;
}
.smartcontact{
    position: relative;
   
}
.education{
    color: white;
    font-size: 1.56rem;
    display: inline-block;
  
}
.workshopscertificate{
    color: aliceblue;
    text-decoration: none;
}
.E{
    color: white;
    font-size: 1.25rem;
}
.E1{
    color:rgb(172, 177, 181);
    font-size: 1.125rem;
}


.experience{
    color: white;
    font-size: 1.56rem;
    display: inline-block;
   
}
.internshipcertificatefieldset{
    display: inline;
}
.workshopfieldset{
    color: aliceblue;
    display: inline;
}
.internship{
    color: rgb(172, 177, 181);
    font-size: 1.375rem;
    display: inline-block;
 
}
.Indikraft{
    color: rgb(172, 177, 181);
    font-size: 1.25rem;
}
.certificate1{
    color: white;
    font-size: 1.25rem;
    display: inline-block;
}
.certificateimg1{
   text-decoration: none;
   color: aliceblue;
}
.skills{
    color: white;
    font-size:1.56rem;
}
.skill{
    color:rgb(172, 177, 181);
    font-size: 1.25rem;
}
#contactinfo{
    color: white;
    font-size: 1.56rem;
    position:relative;
}
.contact1{
    color: brown;
    font-size:1.25rem;
    text-decoration: none;
}
.contact2{
    color:rgb(16, 253, 115);
    font-size:1.25rem;
    text-decoration: none;
}
.contact3{
    color:blue;
    font-size:1.25rem;
    text-decoration: none;
}
.project{
    color: white;
    font-size: 1.56rem;
}
.bookmarks{
    color: white;
    font-size: 1.56rem;
}
.bookmark{
    color: rgb(72, 145, 145);
    font-size:1.25rem;
    text-decoration: none;
}
/* new */
.contactlinks1{
    text-decoration: none;
    color:rgb(117, 30, 30);
}
.contactlinks2{
    text-decoration: none;
    color:rgb(129, 14, 133);
}
.contactlinks3{
    text-decoration: none;
    color:rgb(80, 80, 203);
}
.contactlinks4{
    text-decoration: none;
    color:rgb(15, 170, 15);
}
.contactwayimg1{
    height: 8%;
    width: 8%;
    border-radius: 50%;
    position: sticky;
    top: 192px;
    margin-left: 95%;
    z-index:10;
    /* margin-left:36em; */
}
.contactwayimg2{
    height: 8%;
    width: 8%;
    border-radius: 50%;
    position: sticky;
    top: 256px;
    margin-left: 95%;
    z-index:10;
    /* margin-left:36em; */
}
.contactwayimg3{
    height: 8%;
    width: 8%;
    border-radius: 20%;
    position: sticky;
    top: 320px;
    margin-left: 95%;
    z-index:10;
    /* margin-left:30em; */
}
.contactwayimg4{
    height: 8%;
    width: 8%;
    border-radius: 20%;
    position: sticky;
    top: 384px;
    margin-left: 95%;
    z-index:10;
    /* margin-left:34.4em; */
}

























